<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landing Page</title>
	<style>
		*{
			font-family: Microsoft Yahei;
		}
		.container{
			width: 90%;
			margin: 0 auto;
			text-align: center
		}
		h1{
			margin-top: 10%;
			font-size: 30px
		}
		.btn{
			display: inline-block;
			height: 40px;
			width: auto;
			padding: 5px 10px; 
			border-radius: 10px;
			color: white;
			line-height: 40px;
			text-decoration: none
		}
		.primary{
			background-color: #0044b2;

		}
		.danger{
			background-color: red
		}
		.wide{
			width: 100px
		}

	</style>
</head>
<body>
	<div class="container">
		<h1>This is NOT DHL EXPRESS</h1>
		<p>If you are looking for DHL EXPRESS, it's here (with out the dash) </p>
		<p><a class="btn primary" href="http://www.dhl.com">http://www.dhl.com</a></p>
		<p>If you wish to Continue, click button blow.</p>
		<p><a class="btn danger wide" href="./Home/Index/index">D-HL</a></p>
	</div>
</body>
</html>