<!doctype html>
<html lang="zh">
<head>
<meta Content-type='text/html'>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<import type="css" file="semantic/semantic"/>
<import type="js" file="js/jquerymin,semantic/semantic"/>
<!-- <link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet"> -->

  <!-- If you'd like to support IE8 -->
<!-- <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
<style type="text/css">
	video{
		object-fit: scale-down;
		max-height: 500px;
	}
	body 	{
		background-color: #555;
	}
	input[type="text"]{
 		background-color : #555!important;
	}
</style>
<title>{$pagetitle}-{$title}</title>
</head>
<body>

<div class="ui inverted menu">
  <a class="item">Previous</a>
  <div class="item">
    aaabbbccc
  </div>
  <div class="right menu">
  <a class="item" id="screenSwitch">切换宽屏</a>
    <div class="item">
      <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="text" class="searchbox" placeholder="Search">
        <button class="ui button dark teal">Submit</button>
      </div>
    </div>
    <a class="item">Next</a>
  </div>
</div>
<div class="container">
	<div class="ui grid">
		<div class="eleven wide column centered" id="videodiv">
		    <video src="http://192.168.1.105/2.mp4" controls="controls">
			  
			</video>
		</div>
	</div>
</div>
<!-- <script src="http://vjs.zencdn.net/6.2.4/video.js"></script> -->
<script type="text/javascript">
// $(document).ready(function(){
// 	var vd=$("#video");
// 	function isPC() {
// 	    var userAgentInfo = navigator.userAgent;
// 	    var Agents = ["Android", "iPhone",
// 	                "SymbianOS", "Windows Phone",
// 	                "iPad", "iPod"];
// 	    var flag = true;
// 	    for (var v = 0; v < Agents.length; v++) {
// 	        if (userAgentInfo.indexOf(Agents[v]) > 0) {
// 	            flag = false;
// 	            break;
// 	        }
// 	    }
// 	    return flag;
// 	}
// 	if(!isPC){
// 		vd.attr('isrotate','true');
// 	}
	$("#screenSwitch").click(function(){
		$("#videodiv").toggleClass("tweleve").toggleClass("ten")
	})
// })
</script>
</body>
</html>