<style>
.no-top-margin{
  margin-top: 0!important
}
.no-padding{
  padding: 0!important
}
@media screen and (max-width:1199px){
  .hide-on-mobile{
    display:none!important;
  }
  .hide-on-wide-screen{
    display: block
  }
  
}
@media screen and (min-width:1199px){
  .hide-on-mobile{
    display:block;
  }
  .hide-on-wide-screen{
    display: none!important
  }
  
}
</style>
<div class="ui menu hide-on-mobile no-top-margin">
<div class="ui container">
  <div class="header item">后台</div>
  <a href="{:U('Admin/Index/index')}" class="item {$currModule == 'index'?'active':''}">帖子管理</a>
  <a href="{:U('Admin/Index/upload')}" class="item {$currModule == 'upload'?'active':''}">文件上传</a>
  <div class="ui dropdown item {$currModule == 'setting'?'active':''} {$currModule == 'tag'?'active':''}" tabindex="0">
    系统设置
    <i class="dropdown icon"></i>
    <div class="menu transition hidden" tabindex="-1">
      <a href="{:U('Admin/Index/editconf')}" class="item">基础设定</a>
      <a href="{:U('Admin/Index/log')}" class="item">系统日志</a>
      <a href="{:U('Admin/Tag/index')}" class="item ">分类管理</a>
    </div>
  </div>
  
  
  <div class="ui dropdown item" tabindex="0">
    用户管理
    <i class="dropdown icon"></i>
    <div class="menu transition hidden" tabindex="-1">
      <a href="{:U('Admin/User/index')}" class="item">查看所有用户</a>
      <a href="{:U('Admin/User/edit')}" class="item">添加用户</a>
    </div>
  </div>
  
  <a href="{:U('Home/Index/index')}" class="item">查看网站</a>
  <div class="right menu">
    <div class="item no-padding">
    <form method="get" action="{:U('Admin/Index/index')}">
      <div class="ui action left icon input">
        <input name="q" type="text" placeholder="" value="{$keywords}">
        <i class="search icon"></i>
        <button class="ui button" type="submit" >搜索</button>
      </div>
      </form>
    </div>
    <a href="{:U('Admin/Index/logout')}" class="item">退出登陆</a>
  </div>
</div>
</div>

<div class="ui sidebar inverted vertical menu ">
  <div class="header item"><h1>后台管理</h1></div>
  <div class="divider item"></div>
  <div class="item">
    <div class="header">日志管理</div>
    <div class="menu">
      <a href="{:U('Admin/Index/index')}" class="item {$currModule == 'index'?'active':''}">所有</a>
      <a href="{:U('Admin/Index/edit')}" class="item">新建</a>
    </div>
  </div>
  <a href="{:U('Admin/Index/editconf')}" class="item {$currModule == 'setting'?'active':''}">基础设定</a>
  <a href="{:U('Admin/Tag/index')}" class="item {$currModule == 'tag'?'active':''}">分类管理</a>
  <div class="item">
    <div class="header">用户管理</div>
    <div class="menu">
      <a href="{:U('Admin/User/index')}" class="item">查看所有用户</a>
      <a href="{:U('Admin/User/edit')}" class="item">添加用户</a>
    </div>
  </div>  
  <a href="{:U('Admin/Index/upload')}" class="item {$currModule == 'upload'?'active':''}">文件上传</a>
  <a href="{:U('Home/Index/index')}" class="item">查看网站</a>
  <div class="item">
  <form method="get" action="{:U('Admin/Index/index')}">
      <div class="ui action left icon input">
        <input name="q" type="text" placeholder="" value="{$keywords}">
        <i class="search icon"></i>
        <button class="ui button" type="submit" ">搜索</button>
      </div>
   </form>
  </div>
</div>
<div class="pusher">
<!-- 顶部导航栏开始 -->
<div class="ui menu hide-on-wide-screen">
<div class="ui container">
  <a class="header item" id="open-menu"><i class="icon list layout"></i></a>
  <div class="right menu">
  <div class="ui dropdown item">
    <i class="power icon"></i>
    <div class="menu">
      <a class="item"><i class="user icon"></i>个人中心</a>
      <a class="item"><i class="icon sign out"></i>退出登陆</a>
    </div>
  </div>
  </div>
  </div>
</div>
</div>
</div>
<div class="ui container">
  
