<include file="myapp/Admin/View/semantic/Public/header.html" sitename="{:C('sitename')}" pagename="{$pagename}" />
<include file="myapp/Admin/View/semantic/Login/navbar.html" />
<div class="ui one column stackable center aligned page grid">
<div class="column six wide">
	<h2 class="ui teal image header">
		<img src="">
		<div class="content">账号注册</div>
	</h2>
	<form class="ui large form">
		<div class="ui stacked segment">
			<div class="field">
				<div class="ui left icon input">
					<i class="mail icon"></i>
					<input name="email" type="email" id="email" placeholder="请输入邮箱">
				</div>
			</div>
			<div class="field">
				<div class="ui left icon input">
					<i class="user icon"></i>
					<input name="username" type="text" id="username" placeholder="请输入用户名">
				</div>
			</div>
			<div class="field">
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input name="password" type="password" id="password" placeholder="请输入密码">
				</div>
			</div>
			<div class="field">
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="repassword" id="repassword" placeholder="请再次输入密码">
				</div>
			</div>
			<div class="ui fluid large teal  button" id="reg">注册</div>
			<div class="ui error message"></div>
		</div>
	</form>
	<div class="ui message">
		<a href="{:U('Admin/Login/index')}">返回登陆</a>
	</div>
</div>
</div>
<script>
$(document).ready(function(){
	$("#reg").on('click',login);
	$(".ui.form").form({
		fields:{
			email:{
				identifier:'email',
				rules:[
				{
					type:'empty',
					promopt:'Email required.'
				},
				{
					type:'email',
					prompt:'Email required.'
				}]
			},
			username:{
				identifier:'username',
				rules:[{
					type:'empty',
					prompt:'Username required.'
				},{
					type:'minLength[4]',
					prompt:'Should more than four letters.'
				}]
			},
			password:{
				identifier:'password',
				rules:[{
					type:'length[6]',
					prompt:'Should more than six letter or digis.'
				},
				{
					type:'empty',
					prompt:'Please set password'
				}]	
			},
			repassword:{
				identifier:'repassword',
				rules:[{
					type:'match[password]',
					prompt:'Please input same password in both password fields.'
				}]
			}
		}
	},{onSuccess:function(){
		console.log("success!")
	}})


function login(){
		$.post("{:U('register')}",$("form").serialize(),function(data,status){
			var result=JSON.parse(data);
			if(result.code==200){
				layer.msg(result.message,{"icon":1});
				setTimeout(function(){
					location.href="{:U('Admin/Login/index')}"
				},2000)
			}else{
				layer.msg(result.message,{"icon":2})
			}
		})
		return false;
	}
})

</script>
<include file="myapp/Admin/View/semantic/Public/footer.html"/>
