<include file="myapp/Admin/View/default/Public/header.html" sitename="{:C('sitename')}" pagename="{$pagename}" />
<include file="myapp/Admin/View/default/Public/navbar.html"/>
<div class="container">
<div class="row">
	<h5>日志编辑</h5>
</div>
	<div class="row">
		<div class="input-field col m6">
	        <input id="title" name="title" type="text" value="{$entryinfo[0]['title']}">
	        <label for="title">标题</label>
	        <input id="pid" name="pid" type="hidden" value="{$entryinfo[0]['postid']}">
        </div>
		
		<div class="input-field col m3">
			<input type="text" name="publishdate" class="pickdate" id="time" value="{$entryinfo[0]['createdate']}">
            <label for="datetime">时间</label>

			<label for="pickdate">时间</label>
		</div>
		<div class="input-field col m3">
			<a class="btn" id="infosave">保存</a>
			<a class="btn red" id="infocancel">取消</a>
		</div>

	</div>
		<!-- 分类列表开始 -->
		<div class="row">
			<div class="col m12">
				<div class="input-field inline">
					<div class="col m2">
						<input class="filled-in" type="checkbox" id="allselect"><label for="allselect">全选</label>
					</div>
					<foreach name="allcategory" item="category">
						<div class="col m2">
							<input class="filled-in" {:in_array($category['mid'],$thiscategory)?"checked":""} id="{$category.name}" type="checkbox" name="category" value="{$category.mid}">
							<label for="{$category.name}">{$category.name}</label>
						</div>
					</foreach>
				</div>
			
			</div>
		</div>
<!-- 		<div class="row">
			<div class="col m10">
				<ul class="list-inline" id="categoryChoose">
				<foreach name="allcategory" item="category">
					<li>
						<input {:in_array($category['mid'],$thiscategory)?"checked":""} id="{$category.name}" type="checkbox" name="category" value="{$category.mid}">
						<label class="control-label" for="{$category.name}">{$category.name}</label>
					</li>
				</foreach>
			</ul>
			</div>
		</div> -->
		<!-- 分类列表结束 -->
<!-- 		<div class="row">
			<div class="col m12">
				<div class="form-group">
					<label for="postContent"><p class="help-block">输入内容</p></label>
					<textarea name="content" id="postContent" cols="30" rows="10" class="form-control" value="1"></textarea>
					<p class="help-block">这里是一些帮助文字。</p>
				</div>	
			</div>
	
		</div> -->

		<div class="row">
			<div class="col m12">
				<a href="#create-entry" class="btn btn-primary" >新增</a>
				<a class="waves-effect waves-light btn" id="deleteimg">删除</a>
				<table class="table responsive-table striped" id="maintable">
					<thead>
						<tr>
							<th class="col m1 text-center">序号</th>
							<th class="col m8 text-center">URL</th>
							<th class="col m1 text-center">长度</th>
							<th class="col m1 text-center">宽度</th>
							<th class="col m1 text-center">封面</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="entryinfo['imgs']" item="item">
							<tr data-id="{$item['id']}">
								<td class="col m1 text-center"><input type="checkbox" id="item{$item['id']}"><label for="item{$item['id']}">{$key+1}</label></td>
								<td class="col m8 "><input readonly name="url" class="form-control input-sm imgurl" type="text" value="{$item['url']}"></td>
								<td class="col m1"><input readonly name="width" class="form-control input-sm" type="text" value="{$item['width']}"></td>
								<td class="col m1"><input readonly name="height" class="form-control input-sm" type="text" value="{$item['height']}"></td>
								<td class="col m1 text-center"><input id="cover{$item['id']}" type="radio" name="cover" value="{$item['id']}" {$item['cover'] == 1?"checked":""}><label for="cover{$item['id']}">设</label></td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
</div>


<!-- 图片展示模态框开始 -->
  <div id="displaypic" class="modal">
    <div class="modal-content">
    	<h3 id="modaltitle"></h3>
    	<p id="modalbody"></p>
    </div>
    <div class="modal-footer center">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
  </div>
 <!-- 图片展示模态框结束 -->        

<!-- 新增图片态框开始 modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="create-entry">
	<div class="modal-content" id="addpicbody">
      <h4>添加图片</h4>
      <a href="#" id="addinputbox">[+]</a>
      	<input type="text" class="addpic">
	  </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">关闭</a>
      <a href="#!" class= "waves-effect waves-green btn-flat" id="saveaddedimg">保存更改</a>
    </div>
</div>
<!-- 新增图片态框结束 modal -->

<script>
	//初始化mdcss模态框
	$(document).ready(function(){
		$('.modal').modal();
       	$("#pickdate").datepicker({
	        language:"zh-CN",
	        autoclose:true,
	        format:"yyyy-m-dd",
	        minView/default:0,
	        todayHighlight:true
		})

	})

	$("#infosave").click(function(){
		var categorys=[];//选中的分类
		var imgs={};
		$("input[name='category']:checked").each(function(){
			categorys.push($(this).val());
		})
		var imgs={};//图片数据
		var new_img_index=1
		$("tbody tr").each(function(){
			var that=$(this);
			var imgid=that.data('id') || new_img_index;
			imgs[imgid]={};
			imgs[imgid]['url']=that.find("input[name='url']").val();
			imgs[imgid]['height']=that.find("input[name='height']").val();
			imgs[imgid]['width']=that.find("input[name='width']").val();
			imgs[imgid]['cover']=that.find("input[name='cover']:checked").val();
			new_img_index+=1
		})
		var alldata={
			"categorys":categorys,
			"imgs":imgs,
			"title":$("#title").val(),
			"pid":$("#pid").val(),
			"cover":$("input[name='cover']:checked").val()
		}
		console.log(alldata);//所有数据

		var saveAPI="{:U('Admin/Index/savepost')}";
		$.post(saveAPI,alldata,function(data){
			var result=JSON.parse(data);
			if(result.code==200){
				layer.msg(result.message,{"icon":1});
				setTimeout(function(){window.location.reload()},2000)
				// setTimeout(function(){window.history.back()},2000)
			}else{
				layer.msg(result.message,{"icon":2})
			}
		})
	})
	$("#allselect").click(function(){
		console.log($(this).is(":checked"));
		if($(this).is(":checked")){
			$("input[name='category']").each(function(){$(this).attr("checked",true)})
		}else{
			$("input[name='category']").each(function(){$(this).attr("checked",false)})
		}
	})
	var index=1;
	// $("#create-entry").click(function(event){
	// 	// var template="<tr><td class='col m1 text-center'><input type='checkbox'></td><td class='col m1 text-center'>"+index+"</td><td class='col m7'><input name='url' class='form-control input-sm imgurl' type='text'></td><td class='col m1'><input name='width' class='form-control input-sm' type='text' ></td><td class='col m1'><input name='height' class='form-control input-sm' type='text' ></td><td class='col m1 text-center'><input type='radio' name='cover' value='"+index+"'></td></tr>";
	// 	// $("table").append(template);
	// 	// index=index+1;
	// 	// event.preventDefault();

	// 	$("#addpic").modal();
	// 	$("#addpictitle").text("新增图片");
	// 	event.stopPropagation();
	// 	event.preventDefault();
		
	// })

	$("#maintable").find("input[name='url']").click(function(){
		var imgId=this.parentElement.parentElement.dataset.id;
		var imgtemplate="<img class='responsive-img' alt='此处应有图片' src='"+this.value+"'></img>";
		$("#modaltitle").text("图片ID: "+imgId);
		$("#modalbody").html(imgtemplate);
		$("#displaypic").modal();
		$("#displaypic").modal("open");
	})
		


	$("#addinputbox").click(function(){
		$("#addpicbody").append("<input type='text' class='addpic'>")
	})

	$("#saveaddedimg").click(function(){
		if($("#pid").val()==""){
			layer.msg("请填写标题分类并保存后再添加图片",{icon:7});
		}else{
			var tobeadd={"action":"add","postid":"","url":[]},
			result=[];
			tobeadd.postid=$("#pid").val();

			$("#addpicbody").find(".addpic").each(function(){
				result.push(this.value)
			})
			tobeadd.url=result;
			$("#addpicbody").html("<input type='text 'class='form-control addpic'>");
			imgAPI(tobeadd);
			$("#create-entry").modal("close");

		}
	})

	$("#deleteimg").click(function(){
		//删除图片
		var data={
				"action":"delete",
				"imgid":[]
			};
		//获取勾选删除图片的id
		$("#maintable").find("input[type='checkbox']:checked").each(function(){
			data.imgid.push(this.parentElement.parentElement.dataset.id);
		})
		
		imgAPI(data);
	})

	function imgAPI(dataobj){
		var imgMngApi="{:U('Admin/Index/imgEdit')}";
		$.post(imgMngApi,dataobj,function(response){
			try{
				data=JSON.parse(response);
				if(data.message){
					layer.msg("成功处理了"+data.message+"条数据！",{icon:1})
				}else{
					layer.msg("没有处理数据",{icon:0})
				}
				layer.msg(data.message)
			}catch(e){
				layer.msg("服务器返回了不可描述的信息"+e.message,{icon:2})
			}
		})
	}


  

// layer.msg.icon
// 0:感叹号
// 1:勾勾
// 2:叉叉
// 3:问号
// 4:锁住
// 5:不开心
// 6:开心

</script>
</body>
</html>