<!DOCTYPE html>
<html lang="en">
<head>
	<import type="css" file="css/normalize,css/bootstrapmin,css/datepicker"/>
	<import type="js" file="js/jquerymin,js/bootstrapmin,js/bootstrap-select-min,js/layer"/>
	<script src="__PUBLIC__/lib/js/bootstrap-datepicker.min.js"></script>
	<script src="__PUBLIC__/lib/js/bootstrap-datepicker.zh-CN.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/lib/css/bootstrap-datepicker.min.css">
	<meta charset="UTF-8">
	<title>{$pagename}-{:C('sitename')}</title>
	<style>
		#preview{position: absolute;}
		#del-entry-link{cursor: pointer}
	</style>
</head>
<body>
	<div class="container">