<include file="myapp/Admin/View/default/Public/header.html" sitename="{:C('sitename')}" pagename="{$pagename}" />
<include file="myapp/Admin/View/default/Public/navbar.html"/>
<script src="__PUBLIC__/lib/js/jquery.uploadfile.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/lib/css/uploadfile.css">
<div class="container">
<h4>文件上传</h4>
  <div class="row">
    <div class="col m12">
      <ul class="tabs">
        <li class="tab col m3"><a class="active" href="#addto">添加到现有日志中</a></li>
        <li class="tab col m3"><a href="#createone">新建一个日志</a></li>
      </ul>
    </div>
    <!-- 添加到现有日志中-开始 -->
    <div id="addto" class="col m12">
		<form action="{:U('Admin/Index/uploadAPI')}" enctype="multipart/form-data" method="post" role="form" id="uploadForm">
		<div class="row">
			<div class="input-field col m12">
			<!-- 左侧区域，放标题、选择框，提交按钮 -->
				<div class="col m6">
					<div class="row">
						<input type="radio" name="action" value="new" id="actionNew">
						<label for="actionNew">新建一个日志</label>
						<input type="radio" name="action" value="add" id="actionAdd">
						<label for="actionAdd">添加到现有日志中</label>
					</div>
					<div class="row">
						<div class="input-field">
						<input type="text" name="newTitle" id="newTitle" >
						<label for="newTitle">请输入日志名称</label>
						</div>
					</div>
					<div class="row">
						<select name="postid">
						<option value="" selected disabled="">在此选择一个</option>
						<volist name="allEntry" id="entry">
							<option value="{$entry.postid}">{$entry.title}</option>
						</volist>
						</select>
					</div>
					<div class="row">
						<div class="input-field col m6">
						<p>新建日志只能上传一张图片，否则会生成多个日志！</p>
							<!-- <input id="fileImage" type="file" size="30" name="fileselect[]" multiple=true /> -->
						<div id="fileuploader">Upload</div>
						</div>
					</div>
					
					<div class="row">
						<a class="btn btn-primary" id="startUpload" disabled>提交</a>
					</div>
				</div>

				<!-- 左侧结束 -->

				<!-- 右侧区域，放文件列表 -->
				<div class="col s6">
					<ul class="collection" id="toUploadList">
					</ul>
				</div>
				<!-- 右侧结束 -->
			</div>
		</div>
		</form>
    </div>
    <!-- 添加到现有日志中-结束 -->


    <!-- 新建一个日志-开始 -->
    <div id="createone" class="col s12">Test 2</div>
    <!-- 新建一个日志-结束 -->
  </div>
  </div>




<!-- 上传文件返回信息模态框 -->
<div id="showResult" class="modal">
<div class="modal-content">
  <h4>上传成功</h4>
  <div id="resultDiv"></div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">好</a>
</div>
</div>
<!-- 上传文件返回信息模态框 结束 -->

<script>
	$(document).ready(function(){
		//组件初始化
	    $('ul.tabs').tabs();
	    $('select').material_select();
	    $('.modal').modal({
	    	complete:function(){
	    		var fm=document.getElementsByTagName('form')[0];
	    		fm.reset();
	    		$("#toUploadList").empty();
	    		$("#resultDiv").empty();

	    	}
	    });
	    var tablecode="<table><thead><tr><th>原始文件名</th><th>大小</th><th>URL</th><th></tr></thead><tbody>";
	    //uploadfile初始化
	    $("#fileuploader").uploadFile({
			url:"{:U('Admin/Index/uploadAPI')}",
			fileName:"fileselect[]",
			sequential:true,
			sequentialCount:1,
			maxFileCount:20,
			returnType:'json',
			allowTypes:'rar,jpg,jpeg,doc,txt,png',
			showDown:true,
			showDelete:true,
			dynamicFormData:function(){
				var r={};
				var a=$("form").serializeArray();
				a.forEach(function(i){r[i.name]=i.value});
				console.log(r)
				return r;
			},
			onSuccess:function(files,res,xhr,pd){
						var result=res.data.fileselect;


						//ThinkPHP上传组件定义的错误
						if(res.status===0){
							layer.msg(res.info,{icon:0});
							return false;
						}
						tablecode+="<tr><td>"+result.name+"</td><td>"+(result.size/1024).toFixed(2)+"K"+"</td><td>"+"{$domain}"+"/"+result.savepath+result.savename+"</td></tr>"

						// try{
						// 	var result=JSON.parse(res);
						// }catch(err){
						// 	layer.msg("服务器返回了不可描述的信息"+res+err,{icon:5});
						// 	return false;
						// }

						//控制器定义的错误

		},
		afterUploadAll:function(){
			tablecode+="</tbody></table>";
			$("#resultDiv").append(tablecode);
			$("#showResult").modal("open");
		}
	});
					    


	    var fileSelect=$("#fileImage");
	    fileSelect.on("change",function(){
	    	var files=this.files;
	    	var tpl="";
	    	$("#startUpload").removeAttr("disabled");
	    	for(x in files){
	    		//index:x   filename:files[x].name.
	    		if(!isNaN(x)){
	    			tpl+=imgListAdd(x, files[x].name);	
	    		}
	   		}
	   		$("#toUploadList").append(tpl);
			$(".imgdelete").unbind("click").click(function(){
				var t=this;
				delete fileSelect[t.parentElement.parentElement.dataset.id];
				$(t.parentElement.parentElement).remove();
	    	})  

	})


	    function imgListAdd(id,filename){
	    	return "<li class='collection-item' data-id='"+id+"'>"+filename+"<a href='#'' class='secondary-content'><i class='material-icons imgdelete'>delete</i></a></li>";
	    	
	    }

	    function makeTable(data){
	    	var tablecode="<table><thead><tr><th>原始文件名</th><th>大小</th><th>URL</th><th></tr></thead><tbody>";
	    	for(index in data){
	    		var item=data[index];
	    		console.log(item);
	    		tablecode+="<tr><td>"+item.name+"</td><td>"+(item.size/1024).toFixed(2)+"K"+"</td><td>"+"{$domain}"+"/"+item.savepath+item.savename+"</td></tr>"
	    	}
	    	tablecode+="</tbody></table>";
	    	return tablecode;
	    }

// 异步上传文件
$("#startUpload").click(function(){
	if(!$("#fileImage").val){
		layer.msg("还没有选择文件呢",{icon:0})
		return false;
	}
	$.ajax({
	    url: "{:U('Admin/Index/uploadAPI')}",
	    type: 'POST',
	    cache: false,
	    data: new FormData($('#uploadForm')[0]),
	    processData: false,
	    contentType: false
	}).done(function(res) {
		var result=res;


		//ThinkPHP上传组件定义的错误
		if(result.status===0){
			layer.msg(result.info,{icon:0});
			return false;
		}

		try{
			var result=JSON.parse(res);
		}catch(err){
			layer.msg("服务器返回了不可描述的信息"+res+err,{icon:5});
			return false;
		}

		//控制器定义的错误
		if(result.code>0){
			
			$("#resultDiv").append(makeTable(result.data));
			$("#showResult").modal("open");
		}else{
			layer.msg("错误："+result.message,{icon:0})
		}
		
		

	}).fail(function(res) {
		layer.msg("上传出错，请查看原因："+res,{icon:5})
	}); 
	
})


  });
        
</script>
<include file="myapp/Admin/View/default/Index/footer.html"/>