<include file='Public/Header' /> 	
<include file='Public/Navbar' keywords='keywords' searchAPI='Gdb/Index/Actor/keywords' />
<script src="__PUBLIC__/js/vue.js"></script>
<script src="__PUBLIC__/js/vue-resource.min.js"></script>
<script src="__PUBLIC__/js/lodash.min.js"></script>
<div class="ui container" >




<!-- 视频列表开始 -->

<div  id="vue-app">

<!-- 添加视频modal开始 -->
<div class="ui modal" id="newVideoModal">
  <i class="close icon"></i>
  <div class="header">
    添加视频
  </div>
  <div class="content">
    <div class="description">
      <div class="ui form">
      	<div class="fields">
      		<div class="two wide field">
      			<label for="">ID</label>
      			<input type="text" name="id" v-model="newVideo.id">
      		</div>
      		<div class="two wide field">
      			<label for="">厂家ID</label>
      			<input type="text" name="internalid" v-model="newVideo.internalid">
      		</div>
      		<div class="four wide field">
      			<label for="">厂商</label>
      			<div class="ui selection dropdown">
      				<input type="hidden" v-model="newVideo.companyid">
      				<i class="icon dropdown"></i>
      				<div class="default text">Staxus</div>
      				<div class="menu">
      					<div v-for="(company,key) in companyName" class="item" :data-value="key">{{company}}</div>
      				</div>
      			</div>
      		</div>
      		<div class="four wide field">
      			<label for="">发布日期</label>
      			<input type="date" v-model="newVideo.releasedate">
      		</div>
      		<div class="four wide field">
      			<label for="">时长(Min)</label>
      			<input type="text" v-model="newVideo.duration">
      		</div>
      	</div>
  		<div class="sixteen wide field">
  			<label for="">演员</label>
  			<select multiple="" class="ui dropdown" name="" id="" v-model="newVideo.actors">
  				<option v-for="actor in sortedActors" :value="actor.internalid">{{actor.name}}</option>
  			</select>
  		</div>
  		<div class="sixteen wide field">
  			<label for="">片名</label>
  			<input type="text" v-model="newVideo.name">
  		</div>
  		<div class="sixteen wide field">
  			<label for="">列表封面</label>
  			<input type="text" v-model="newVideo.listcover">
  		</div>
  		<div class="sixteen wide field">
  			<label for="">详情封面</label>
  			<input type="text" v-model="newVideo.detailcover">
  		</div>
  		<div class="sixteen wide field">
  			<label for="">图集</label>
  			<textarea name="" id="" cols="30" rows="10" v-model="newVideo.gallery"></textarea>
  		</div>
		
      </div>
    </div>
  </div>
  <div class="actions">
<!--     <div class="ui black deny button">
      取消
    </div> -->
    <div class="ui right labeled icon button" @click="saveNew('video')">
      保存
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- 添加视频modal结束 -->




<!-- 添加演员modal开始 -->
<div class="ui modal" id="newActorModal">
  <i class="close icon"></i>
  <div class="header">
    添加演员
  </div>
  <div class="content">
    <div class="description">
      <div class="ui form">
      	<div class="fields">
      		<div class="two wide field">
      			<label for="">ID</label>
      			<input type="text" name="id" v-model="newActor.id">
      		</div>
      		<div class="two wide field">
      			<label for="">厂家ID</label>
      			<input type="text" name="internalid" v-model="newActor.internalid">
      		</div>
      		<div class="four wide field">
      			<label for="">姓名</label>
      			<input type="text" v-model="newActor.name">
      		</div>
      		<div class="four wide field">
      			<label for="">厂商</label>
      			<div class="ui selection dropdown">
      				<input type="hidden" v-model="newActor.companyid">
      				<i class="icon dropdown"></i>
      				<div class="default text">Staxus</div>
      				<div class="menu">
      					<div v-for="(company,key) in companyName" class="item" :data-value="key">{{company}}</div>
      				</div>
      			</div>
      		</div>
      		<div class="four wide field">
      			<label for="">生日</label>
      			<input type="date" v-model="newActor.birthday">
      		</div>
      	</div>
		<div class="fields">
			<div class="two wide field">
				<label for="">身高</label>
				<input type="text" v-model="newActor.height">
			</div>
			<div class="two wide field">
				<label for="">体重</label>
				<input type="text" v-model="newActor.weight">
			</div>
			<div class="two wide field">
				<label for="">腰围</label>
				<input type="text" v-model="newActor.waist">
			</div>
			<div class="two wide field">
				<label for="">捷豹</label>
				<input type="text" v-model="newActor.cock">
			</div>
			<div class="two wide field">
				<label for="">眼色</label>
				<input type="text" v-model="newActor.eyecolor">
			</div>
			<div class="two wide field">
				<label for="">人种</label>
				<input type="text" v-model="newActor.ethnicity">
			</div>
			<div class="two wide field">
				<label for="">国籍</label>
				<input type="text" v-model="newActor.nation">
			</div>
			<div class="two wide field">
				<label for="">发色</label>
				<input type="text" v-model="newActor.haircolor">
			</div>
		</div>
		<div class="fields">
			<div class="four wide field">
				<label for="">性取向</label>
				<div class="ui selection dropdown">
      				<input type="hidden" v-model="newActor.orientation">
      				<i class="icon dropdown"></i>
      				<div class="default text">同性</div>
      				<div class="menu">
      					<div class="item" data-value="Gay">同性</div>
      					<div class="item" data-value="Bi">双</div>
      					<div class="item" data-value="Straight">直男</div>
      				</div>
      			</div>
			</div>
			<div class="four wide field">
				<label for="">角色</label>
				<div class="ui selection dropdown">
      				<input type="hidden" v-model="newActor.orientation">
      				<i class="icon dropdown"></i>
      				<div class="default text">受</div>
      				<div class="menu">
      					<div class="item" data-value="Bottom">受</div>
      					<div class="item" data-value="Top">攻</div>
      					<div class="item" data-value="Versatile">不分</div>
      				</div>
      			</div>
			</div>
			<div class="eight wide field">
				<label for="">列表图片</label>
				<input type="text" v-model="newActor.listcover">
			</div>
		</div>
		<div class="sixteen wide field">
			<label for="">详情图片</label>
			<input type="text" v-model="newActor.officialcover">
		</div>
		<div class="sixteen wide field">
			<label for="">公司链接</label>
			<input type="text" v-model="newActor.companyurl">
		</div>
		<div class="sixteen wide field">
			<label for="">描述</label>
			<textarea name="" id="" cols="30" rows="10" v-model="newActor.description"></textarea>
		</div>
		<div class="sixteen wide field">
			<label for="">图集</label>
			<textarea name="" id="" cols="30" rows="10" v-model="newActor.gallery"></textarea>
		</div>
		
     </div>
    </div>
  </div>
  <div class="actions">
<!--     <div class="ui black deny button">
      取消
    </div> -->
    <div class="ui right labeled icon button" @click="saveNew('actor')">
      保存
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
<!-- 添加演员modal结束 -->


<div class="grid">
<div class="sixteen wide column">
<div class="ui form">
  <div class="field">
    <label>搜索</label>
    <input type="text" name="tableSearch" @input="search" v-model="keywords" placeholder="演员名或片名">
  </div>
</div>
</div>
</div>
<table class="ui basic table">
	<thead>
	<tr>
		<th><i class="icon disk outline"></i></th>
		<th>ID</th>
		<th>内部ID</th>
		<th>厂商</th>
		<th>标题</th>
		<th>演员</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody>
		<tr v-for='(video,index) in videosInfo["data"]'>
			<td><i class="icon heart" :class="[video['have']==1?'red':'empty']"></i></td>
			<td>{{video.id}}</td>
			<td>{{video.internalid}}</td>
			<td>{{companyName[video['companyid']]}}</td>
			<td><a :href="'index.php?m=Gdb&c=Index&a=Video&id='+video.id">{{video.name}}</a></td>
			<td>
				<a v-for="actor in video['actorsInfo']" :href="'index.php?m=Gdb&c=Index&a=Actor&id='+actor.id">{{actor?actor.name:''}}</a> ,
			</td>
			<td>
				<a v-if='video["have"]==0' class="ui button mini" @click='markDownload(index,true)'>标记下载</a>
				<a v-if='video["have"]==1' class="ui button mini" @click='markDownload(index,false)'>标记未下载</a>
			</td>
		</tr>
	</tbody>
	<tfoot>
		
	</tfoot>
</table>
</div>
<script>
Vue.http.options.emulateJSON = true
var tb=new Vue({
	el:'#vue-app',
	data:{
		videosInfo:{$videosInfo},
		companyName:{$companyName},
		keywords:'',
		lastInput:0,
		inputTimeoutHandler:'',
		allActors:{$allActors},
		newVideo:{
			actors:[],
			type:'video'
		},
		newActor:{
			type:'actor'
		}
	},
	methods:{
		markDownload:function(index,flag){
			var videoid=this.videosInfo['data'][index]['id'];
			if(flag){
				var postData={id:videoid,message:'downloaded'}
			}else{
				var postData={id:videoid,message:'notDownloaded'}
			}
			
			this.$http.post('index.php?m=Gdb&c=Index&a=Mark',postData).then(function(data){
				if(data.body.code==200){
					if(flag){
						this.videosInfo['data'][index]['have']=1;
					}else{
						this.videosInfo['data'][index]['have']=0;
					}
					
				}else{
					alert(data.body.message)
				}
			},function(err){
				alert("Failed: "+err.status+err.statusText);
			})
		},
		search:function(){
			if(this.keywords.length<4){
				return false;
			}
			var d=new Date();
			var that=this;
			clearInterval(that.inputTimeoutHandler)
			if(!this.lastInput){
				this.lastInput=d.getTime();
			}else{
				if(d.getTime()-this.lastInput>500){
					this.searchAJAX(this.keywords)
					this.lastInput=d.getTime();
				}else{
					this.inputTimeoutHandler=setTimeout(function(){
						that.searchAJAX(this.keywords)
					},500)
				}
			}
		},
		saveNewVideo:function(){
			this.$http.post("",this.newVideo).then(function(data){
				console.log(data.body)
			},function(err){
				alert("Failed: "+err.status+err.statusText);
			})
		},
		searchAJAX:function(){
			this.$http.post('index.php?m=Gdb&c=Index&a=RealtimeSearch',{keywords:this.keywords}).then(function(data){
				this.videosInfo.data=data.body;
			},function(err){
				alert("Failed: "+err.status+err.statusText);
			})
		},
		saveNew:function(param){
			var data='';
			if(param=='video'){
				data=this.newVideo
			}else{
				data=this.newActor
			}

			this.$http.post("index.php?m=Gdb&c=Index&a=add",data).then(function(data){
				console.log(data.body)
			},function(err){
				alert("Failed: "+err.status+err.statusText);
			})
		}
	},
	computed:{
		sortedActors:function(){
			return this.allActors.sort(function(obj1,obj2){
				var val1=obj1.name;
				var val2=obj2.name;
				if(val1<val2){
					return -1;
				}else if(val1>val2){
					return 1;
				}else{
					return 0;
				}
			})
		}
	},
	mounted:function(){
		// this.$http.get('http://127.0.0.1/thinkphp/index.php?m=Gdb&c=Index&a=test')
		// .then(function(data){
		// 	console.log(data.bodyText)
		// },function(err){
		// 	alert(err)
		// })
	}

})
</script>
<!-- 视频列表结束 -->

<!-- 视频详情开始 -->
<present name="videoDetail">
<script>
	var videoId={$videoDetail.id}
</script>
<div class="ui grid">

	<div class="sixteen wide column">

	<div class="ui fluid card">
	<a id="haveFlag" class="ui {$videoDetail['have']==1?'red':'gray'} right corner label" title="{$videoDetail['have']==1?'在库':'没有此视频'}">
		<i class="video play icon"></i>
	</a>
	<div class="header" style="padding: 1em">
	<div class="column">
	<h2>{$videoDetail['name']}</h2>
		<div class="left floated">
			<span class="meta">
				<php>echo date("Y-m-d",strtotime($videoDetail['releasedate']))</php>
				<if condition="$videoDetail['have'] neq 1">
				<a class="ui button primary" id="markDownload">标记已下载</a>
				</if>
			</span>
		</div>
		<div class="right floated">
			<div class="ui special cards" style="margin-right: 2em">
			<volist name="videoDetail['actorsInfo']" id="actor">
			  <div style='display:inline-block;padding:1em'>
		      	<a href="{:U('Actor',array('id'=>$actor['id']))}">
			      <img class="ui avatar image" src="{:U('img',array('url'=>$actor['officialcover'],'type'=>'avatar','compId'=>$actor['companyid']))}"> {$actor.name}
			     </a>
			     </div>
			</volist>
			</div>
		</div>
	</div>
	</div>
		<div class="image">
			<img class="ui image" src="{:U('img',array('url'=>$videoDetail['detailcover'],'type'=>'video','compId'=>$videoDetail['companyid']))}" alt="">
		</div>
	</div>
	<div class="description">
	<div class="ui column">

	</div>
	<div class="ui column">
		<volist name="videoDetail['tags']" id='tag' key='i'>
			<a class="ui label {$tagColors[$i%13-1]}" href="{:U('Tag',array('Id'=>$tag['tag_id'],'CompanyId'=>$tag['company_id']))}">{$tag.tag_name}</a>
		</volist>
	</div>
	</div>
		
	</div>

</div>
<script>
$(document).ready(function(){
	$('#markDownload').on('click',function(){
		var that=$(this);
		that.attr('disabled','true');
		$.post("{:U('Mark')}",{id:videoId,message:'downloaded'},function(result){
			if(result.code==200){
				that.hide();
				$('#haveFlag').removeClass('gray').addClass('red');
			}else{
				alert(result.message)
			}
		})
	})
})
</script>
</present>
<!-- 视频详情结束 -->

<!-- 视频图片列表开始 -->
<present name="videoGallery">
<div class="ui indicating progress" id="progress-bar" style="display:none">
  <div class="bar">
  </div>
  <div class="label">图片载入中...(<span id="loaded-img-count"></span>)</div>
</div>
<div class="ui small images gallery-thumb" id="gallery-thumb">
	<volist name="videoGallery" id="item" key="k">
		<a href="{:U('img',array('url'=>$item,'type'=>'gallery','compId'=>$videoDetail['companyid']))}" data-lightbox="actor-picture"><img style="cursor:pointer" data-index={$k}  src="{:U('img',array('url'=>$item,'type'=>'gallery','compId'=>$videoDetail['companyid']))}" alt=""></a>
	</volist>
</div>

	
</div>
<script>
$(document).ready(function(){
	var imgs=$('#gallery-thumb img');
	var loadedImg=0;
	var counter=$("#loaded-img-count");
	var progressBar=$('#progress-bar');
	if(imgs.length>0){
		progressBar.fadeIn();
		imgs.on('load',function(){
			console.log(loadedImg+":"+imgs.length)
			console.log(this.dataset.index)
			loadedImg+=1;
			counter.text(loadedImg+"/"+imgs.length);
			$('.progress').progress({
				percent:Math.ceil(loadedImg/imgs.length*100)
			});

			if(loadedImg-imgs.length==0){
				progressBar.fadeOut();
			}
		})
	}
	
	window.onload=function(){
		progressBar.fadeOut();
	}
})

</script>
</present>
<!-- 视频图片列表结束 -->
{$pagingCode}
<include file='Public/Footer' />