<include file='Public/Header' /> 	
<include file='Public/Navbar' keywords='{$keywords}' searchAPI='Gdb/Files/Index/keywords' />
<script src="__PUBLIC__/js/vue.js"></script>
<script src="__PUBLIC__/js/vue-resource.min.js"></script>
<script src="__PUBLIC__/js/lodash.min.js"></script>





<!-- 视频列表开始 -->

<div  id="vue-app">

<div class="grid">
<div class="sixteen wide column">
<div class="ui form">
  <div class="field">
    <label>过滤结果</label>
    <input type="text" name="tableSearch" @input="search" v-model="keywords" placeholder="演员名或片名">
  </div>
</div>
</div>
</div>
{$pageCode}
<table class="ui basic table">
	<thead>
	<tr>
		<th>ID</th>
		<th>文件名</th>
		<th>大小</th>
		<th>时间</th>
		<th>所在硬盘</th>
	</tr>
	</thead>
	<tbody>
		<tr v-for='(item,index) in filteredlistInfo'>
			<td>{{item.id}}</td>
			<td><div class="ui accordion">
				<div class="title">
				<i class="dropdown icon"></i>
				{{item.filename}}	
				</div>
				<div class="content">
					{{item.filepath}}
				</div>
			</div></td>
			<td>{{item.size | formateSize}}</td>
			<td>{{item.createdate+" "+item.createtime}}</td>
			<td>{{item.driver}}</td>
		</tr>
	</tbody>
	<tfoot>
		
	</tfoot>
</table>

</div>
<script>
Vue.http.options.emulateJSON = true;
Vue.filter('formateSize',function(i){
			result=0;
			if(parseInt(i)==0){
				return 0;
			}
			if(i>1073741824){
				result=i/1024/1024/1024;
				return result.toFixed(2)+" GB";
			}
			if(i>1048576){
				result=i/1024/1024;
				return result.toFixed(2)+" MB";
			}
			if(i>1024){
				result=i/1024;
				return result.toFixed(2)+" KB";
			}
			return i+' Byte';
		})
var tb=new Vue({
	el:"#vue-app",
	data:{
		listInfo:{$data},
		keywords:'',
	},
	methods:{
		search:function(){}
	},
	// watch:{
	// 	keywords:_.debounce(function(){
	// 		var self=this;
	// 		if(self.keywords==''){
	// 			self.filteredlistInfo=self.listInfo;
	// 		}
	// 		this.filteredlistInfo=self.listInfo.filter(function(file){
	// 			return file.filename.indexOf(self.keywords) !==-1;
	// 		},500)
	// 	})
	// },
	computed:{
		filteredlistInfo:function(){
			var self=this;
			if(self.keywords==''){
				return self.listInfo;
			}
			return self.listInfo.filter(function(file){
				return file.filename.toLowerCase().indexOf(self.keywords.toLowerCase()) !==-1;
			})
		}
	},
	updated:function(){
		this.$nextTick(function(){
			$('tbody .accordion')
			  .accordion()
		})
	},
	mounted:function(){
		this.$nextTick(function(){
			$('tbody .accordion')
			  .accordion()
		})
	}

})
</script>
<!-- 视频列表结束 -->

<include file='Public/Footer' />