<div class="ui menu navbar" id="navbar">
<div class="ui container">
	<div id="sidebarBtn" class="item"><i class="icon list"></i>	</div>
	<div class="item header">GVDB</div>

<!-- 	<div class="ui dropdown item" v-if='module!="novel"'>
		视频
		<i class="icon dropdown"></i>
		<div class="menu">
			<a href="" class="item">视频列表</a>
			<a href="" class="item">评分最高</a>
			<a href="" class="item">最常点击</a>
			<a href="{:U('Index/Video')}" class="item">所有视频</a>
		</div>
	</div> -->
	<a href="{:U('Index/VideoList')}"  class="item">Gay Videos</a>
	<a href="{:U('Index/Actor')}"  class="item">GV Actors</a>
	<a href="/tieba" class="item">Tieba Photo</a>
	<a href="/novels/index" class="item">Novel</a>
<!-- 	<div class="ui dropdown item" v-if='module=="novel"'>
		<i class="icon dropdown"></i>
		<div class="menu">
			<a href="/novels/index" class="item">目录</a>
			
			<a href='/novels/fav' class="item">收藏夹</a>
		</div>
	</div> -->
	<div class="right menu hide-below-tablet">
		<div class="item">
			<div class="ui action input">
			  <input type="text" placeholder="演员或片名" name="keywords" id="searchKeywords" v-model="keywords" @keyup.enter=gotoSearch>
			  <select class="ui compact selection dropdown" v-model="searchType">
			    <option value="video">片名</option>
					<option value="actor">演员</option>
					<option value="novel">小说</option>
			  </select>
			  <a class="ui button" @click=gotoSearch href="javascript:void(0)">搜索</a>
			</div>
		</div>
		<div class="ui dropdown item" v-if='module!="novel"'>
			添加
			<i class="icon dropdown"></i>
			<div class="menu">
				<a href="javascript:void(0)" class="item" id="addVideo">添加视频</a>
				<a href="javascript:void(0)" class="item" id="addActor">添加演员</a>
			</div>
		</div>
	</div>
</div>
</div>

<style>
#sidebarBtn{
/*display:none;*/
}
@media (max-width:749px){
.hide-below-tablet{
	display: none!important;
}

}
</style>
<script>
var app=new Vue({
	el:'#navbar',
	data:{
		searchType:'video',
		keywords:'',
		module:''
	},
	methods:{
		gotoSearch:function(){
			if(this.searchType=='novel'){
				window.location.href='/novels/title/'+$('#searchKeywords').val();
				return;
			}
			if(this.searchType=='actor'){
				window.location.href='/index.php?m=Gdb&c=Index&a=Actor&keywords='+$('#searchKeywords').val();
				return;
			}
			if(this.searchType=='video'){
				window.location.href='/index.php?m=Gdb&c=Index&a=Video&keywords='+$('#searchKeywords').val();
				return;
			}
			alert('未定义操作');

			// let a=window.open();
			// a.location.href=`?m=gdb&c=index&a=search&type=${this.searchType}&content=${this.keywords}`;
		}
	},
	mounted:function(){
		var url=window.location.href;
		if(url.match(/(n|N)ovel/)){
			this.module='novel';
			this.searchType='novel';
			return;
		}
		if(url.match('actor')){
			this.module='actor';
			this.searchType='actor';
			return;
		}
		if(url.match('video')){
			this.module='video';
			this.searchType='video';
			return;
		}
		if(url.match('videolist')){
			this.module='videolist';
			return;
		}

	}
})
$(document).ready(function(){
	// $('#searchKeywords').on('keydown',function(event){
	// 	if(event.keyCode==13){
	// 		window.location.href='{:U($searchAPI)}'+'&keywords='+$('#searchKeywords').val();
	// 	}
	// })
	// $('#searchBtn').on('click',function(){
	// 	if(this.searchType=='novel'){
	// 		window.location.href='/novels/title/'+$('#searchKeywords').val();
	// 	}
	// 	window.location.href='{:U($searchAPI)}'+'&keywords='+$('#searchKeywords').val();
	// })

	$('#addVideo').on('click',function(){
		$('#newVideoModal').modal('show')
	})

	$('#addActor').on('click',function(){
		$('#newActorModal').modal('show')
	})

	$('#sidebarBtn').on('click',function(){
		$('.ui.sidebar')
		  .sidebar('toggle')
		;
	})


})
</script>
