<div class="ui menu navbar">
<div class="ui container">
	<div class="item header">GVDB</div>
	<div class="ui dropdown item">
		演员
		<i class="icon dropdown"></i>
		<div class="menu">
			<a href="" class="item">评分最高</a>
			<a href="" class="item">最常点击</a>
			<a href="{:U('Index/Actor')}" class="item">所有演员</a>
		</div>
	</div>
	<div class="ui dropdown item">
		视频
		<i class="icon dropdown"></i>
		<div class="menu">
			<a href="{:U('Index/VideoList')}" class="item">视频列表</a>
			<a href="" class="item">评分最高</a>
			<a href="" class="item">最常点击</a>
			<a href="{:U('Index/Video')}" class="item">所有视频</a>
		</div>
	</div>
	
	<div class="ui dropdown item">
		小说
		<i class="icon dropdown"></i>
		<div class="menu">
			<a href="{:U('Novel/Catalog')}" class="item">目录</a>
			<a href="{:U('Novel/Random')}" class="item">随便看看</a>
			<a href="{:U('Novel/Search',array('fav'=>1))}" class="item">收藏夹</a>
			
		</div>
	</div>
	<div class="right menu">
		<div class="item">
		<div class="ui action left icon input">
			<i class="icon search"></i>
			<input type="text" placeholder="演员或片名" name="keywords" id="searchKeywords" value="{$searchKeywords}">
			<a class="ui button " id="searchBtn">搜索</a>
		</div>
		</div>
		<div class="ui dropdown item">
			添加
			<i class="icon dropdown"></i>
			<div class="menu">
				<a href="javascript:void(0)" class="item" id="addVideo">添加视频</a>
				<a href="javascript:void(0)" class="item" id="addActor">添加演员</a>
			</div>
		</div>
	</div>
</div>
</div>

<style>
#sidebarBtn{
display:none;
}
@media (max-width:749px){
.right.menu{
	display: none!important;
}

}
</style>
<script>
$(document).ready(function(){
	$('#searchKeywords').on('keydown',function(event){
		if(event.keyCode==13){
			window.location.href='{:U($searchAPI)}'+'&keywords='+$('#searchKeywords').val();
		}
	})
	$('#searchBtn').on('click',function(){
		window.location.href='{:U($searchAPI)}'+'&keywords='+$('#searchKeywords').val();
	})

	$('#addVideo').on('click',function(){
		$('#newVideoModal').modal('show')
	})

	$('#addActor').on('click',function(){
		$('#newActorModal').modal('show')
	})

	$('#sidebarBtn').on('click',function(){
		$('.ui.sidebar')
		  .sidebar('toggle')
		;
	})


})
</script>
