<include file="myapp/Admin/View/default/Public/header.html" sitename="{:C('sitename')}" pagename="{$pagename}" />
<include file="myapp/Admin/View/default/Public/navbar.html" userinfo="{$userinfo}" />
<style>
	.btn-margin-right{margin-right: 5px}
</style>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<form>
		<div class="input-field col s6">
			<input id="usrid" name="id" type="text" value="{$user.id}">
			<label for="usrid">编号</label>
		</div>
		<div class="input-field col s6">
			<input id="usrname" name="username" type="text" value="{$user.username}">
			<label for="usrname">用户名</label>
		</div>
		<div class="input-field col s6">
			<input id="password" name="password" type="text" >
			<label for="password">密码</label>
		</div>
		<div class="input-field col s6">
			<input id="email" name="email" type="email" value="{$user.email}">
			<label for="email">邮箱</label>
		</div>
		<div class="input-field col s6">
			<input id="createdate" type="text" data-value="{$user.createdate}" value="{$user.createdate|date="Y-m-d h:i:s",###}">
			<label for="createdate">注册日期</label>
		</div>
		<div class="input-field col s6">
			<select class="form-control" name="type" id="usertype">
				<foreach name="usertype" item="type">
					<option <if condition="$key eq $user['type']">selected</if> value="{$key}">{$type}</option>
				</foreach>
			</select>
			<label for="usertype">用户类型</label>
		</div>
		<input type="hidden" name="token" value="{$token}">
		<div class="form-group col-md-4 col-md-offset-5">
			<button class="btn  waves-effect waves-light" id="save">保存</button>
			<button class="btn  waves-effect waves-light red " id="cancel">取消</button>
		</div>
		</form>
	</div>
</div>
</div>
<script>
$("document").ready(function(){
	$("select").material_select()
})
$("#createdate").datepicker();
$("#save").click(function(){
	var data=$("form").serialize();
	var createdate=new Date($("#createdate").val());
	data=data+"&createdate="+Math.round(createdate.getTime()/1000);
	$.post("{:U('Admin/User/saveAPI')}",data,function(res){
		console.log(res)
	})
	return false;
})
$("#cancel").click(function(){
	window.location.reload();
	return false;
})
</script>

<include file="myapp/Admin/View/default/Index/footer.html"/>