<!-- 导航下拉菜单 -->
<ul id="userdropdown" class="dropdown-content">
  <li><a href="{:U('Admin/User/index')}">查看所有用户</a></li>
  <li><a href="{:U('Admin/User/edit')}">添加用户</a></li>
</ul>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
		<li {$currModule == 'index'?"class='active'":""}><a href="{:U('Admin/Index/Index')}">日志管理</a></li>
		<li {$currModule == 'setting'?"class='active'":""}><a href="#">基础设定</a></li>
		<li {$currModule == 'tag'?"class='active'":""}><a href="{:U('Admin/Tag/Index')}">分类管理</a></li>
		<li {$currModule == 'user'?"class='active'":""}><li><a class="dropdown-button" href="#!" data-activates="userdropdown">用户管理<i class="material-icons right">arrow_drop_down</i></a></li></li>
		<li {$currModule == 'upload'?"class='active'":""}><a href="{:U('Admin/Index/upload')}">文件上传</a></li>
		<li><a href="{:U('Home/Index/index')}">查看网站</a></li>
		<li><a class="navbar-link" href="#" data-userid="{$userinfo.id}">你好! {$userinfo.username}</a></li>
		<li><a class="navbar-link" href="{:U('Admin/Index/logout')}">退出登陆</a></li>
      </ul>
      </div>
    </div>
  </nav>