<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>贴吧爆照</title>
    <link rel="stylesheet" href="__PUBLIC__/semantic/semantic.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Lightbox/css/lightbox.min.css">
    <script src="__PUBLIC__/lib/js/jquery-3.1.1.min.js"></script>
    <script src="__PUBLIC__/semantic/semantic.min.js"></script>
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/vue-resource.min.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <style type="text/css">
    .no-padding {
        padding: 0!important
    }

    .no-margin {
        margin: 0!important;
    }

    .footer {
        width: 100%;
        height: 15%
    }

    @media (max-width:749px) {
        .hide-on-mobile {
            display: none!important;
        }
    </style>
</head>

<body>
    <div id="shuaibi">
        <!-- 导航栏开始 -->
        <div class="ui menu navbar">
            <div class="ui container">
                <a href="#" class="item sidebar-trigger"><i class="sidebar icon"></i></a>
                <div class="item header"><a href="/tieba">贴吧爆照</a></div>
                <div class="ui item fitted form">
                    <div class="field hide-on-mobile">
                        <select>
                            <option>直男吧</option>
                            <option>腿毛吧</option>
                            <option>运动白袜吧</option>
                            <option>肩上的脚丫吧</option>
                            <option>随便看看</option>
                        </select>
                    </div>
                </div>
                <div class="right menu hide-on-mobile">
                    <div class="item fitted ">
                        <form method="get" action="index.php" class="ui form">
                            <input type="hidden" name="m" value="tieba">
                            <input type="hidden" name="c" value="index">
                            <input type="hidden" name="a" value="index">
                            <div class="fields no-margin">
                                <div class="field ">
                                    <select name="searchType" v-model="searchType">
                                        <option v-for="(typeName,type) in searchTypes" :value="type">{{typeName}}</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <div class="ui action left icon input">
                                        <i class="icon search"></i>
                                        <input type="text" :placeholder="searchBoxPlaceHolder" name="keywords" id="searchKeywords" v-model="keywords">
                                        <button class="ui button " id="searchBtn" type="submit">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </form action="post">
                    </div>
                </div>
            </div>
        </div>
        <!-- 导航栏结束 -->
        <!-- 侧边栏导航开始 -->
        <div class="ui vertical menu sidebar">
            <div class="ui container">
                <div class="item header">贴吧爆照<i class="icon remove right" id="removeSidebar"></i></div>
                <form method="get" action="index.php" class="ui form">
                    <input type="hidden" name="m" value="tieba">
                    <input type="hidden" name="c" value="index">
                    <input type="hidden" name="a" value="index">
                    <div class="ui item form">
                        <div class="field">
                            <select>
                                <option>直男吧</option>
                                <option>腿毛吧</option>
                                <option>运动白袜吧</option>
                                <option>肩上的脚丫吧</option>
                                <option>随便看看</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="fields no-margin"> -->
                    <div class="field item">
                        <label for="">搜索类型：</label>
                        <select name="searchType" v-model="searchType">
                            <option v-for="(typeName,type) in searchTypes" :value="type">{{typeName}}</option>
                        </select>
                    </div>
                    <div class="field item">
                        <div class="ui action left icon input">
                            <i class="icon search"></i>
                            <input type="text" :placeholder="searchBoxPlaceHolder" name="keywords" id="searchKeywords" v-model="keywords">
                        </div>
                    </div>
                    <div class="item">
                        <button class="ui button " id="searchBtn" type="submit">搜索</button>
                    </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
        <!-- 侧边栏导航结束 -->
        <div class="ui container pusher">
            <div class="ui five stackable cards">

                    <div class="ui card" v-for="(card,index) in cards">
                        <div class="image">
                            <php>
            
                            </php>
                            <img class="ui tiny image" :src="card.file_name">
                        </div>
                        <div class="content">
                            <a class="header" :href=userNameUrl(card.user_name) >{{card.user_name}}</a>
                            <div class="meta">
                                {{card.timestamp}}
                            </div>
                            <div class="description">
                                <i class="talk outline icon"></i> 发表在
                                <a :href=threadUrl(card.thread_id) target="_blank">{{card.forum_name}}</a>吧
                            </div>
                        </div>
                        <div class="extra content">
                            <a :href=originalPic(card.original_url,card.thread_id,card.forum_name) v-if=originalPic(card.original_url,card.thread_id,card.forum_name) target="_blank">查看原图</a>
                            <a v-if="isLogin" href="javascript:void(0)" @click=deleteImg(card.id,index) class="right floated">删除</a>
                            <!--             <div class="ui large transparent left icon input">
                                <i class="heart outline icon"></i>
                                <input type="text" placeholder="Add Comment...">
                            </div> -->
                        </div>
                    </div>

            </div>
            {$pageCode}
        </div>
    </div>
    <div class="footer">
    </div>
    <script>
    Vue.http.options.emulateJSON = true;
    var searchParams={$searchParams};
    var myapp = new Vue({
        el: '#shuaibi',
        data: {
            isLogin:{$isLogin},
            searchType: '',
            searchTypes: {
                'userName': '用户名',
                'userId': '用户数字ID',
                'content': '发帖'
            },
            keywords: '{$keywords}',
            cards:{$data}
        },
        methods:{
            deleteImg:function(id,index){
                var animateId=layer.load();
                this.$http.post('/index.php?m=tieba&c=index&a=api',{action:'delete',item:'img',id:id}).then(function(response){
                    let res=response.body;
                    layer.close(animateId);
                    console.log(res.message);
                    if(res.code==0){
                        layer.msg(res.message,{icon:4});
                        return;
                    }
                    if(res.code==1){
                        layer.msg(res.message,{icon:2})
                        return;
                    }
                    if(res.code==200){
                        this.cards.splice(index,1);
                        layer.msg(res.message,{icon:1});
                        return;
                    }
                    layer.msg('未知响应',{icon:2});
                    
                },function(response){
                    layer.cloae(animateId);
                    alert('请求出错',response)
                })
            },
            originalPic:function(url,threadId,forumName){
                if(url){
                    let originalFileName=url.split('/')[6].split('.')[0];
                    let originalUrl=`http://tieba.baidu.com/photo/p?kw=${encodeURI(forumName)}&flux=1&tid=${threadId}&pic_id=${originalFileName}&pn=1&fp=1&see_lz=1`;
                    return originalUrl;
                }else{
                    return false
                }
            },
            threadUrl:function(threadId){
                return `${window.origin}/t/thread/${threadId}`;
            },
            userNameUrl:function(userName){
                return `${window.origin}/t/name/${userName}`;
            }
        },
        computed: {
            searchBoxPlaceHolder: function() {
                return '搜索' + this.searchTypes[this.searchType]
            }
        },
        mounted:function(){
            var self=this;
            this.$nextTick(function(){
                self.searchType=searchParams.searchType?searchParams.searchType:'userName';
                self.keywords=searchParams.keywords?searchParams.keywords:'';
            })
        }
    })
    $('.sidebar-trigger').on('click', function() {
        $('.sidebar').toggleClass('visible')
    })
    $('#removeSidebar').on('click', function() {
        $('.sidebar').removeClass('visible')
    })
    </script>
    {$statCode}
</body>

</html>