<div class="ui menu navbar" id="navbar">
<div class="ui container">
	<!-- <div id="sidebarBtn" class="item"><i class="icon list"></i>	</div> -->
	<div class="item header">用户中心</div>
	<div class="item"><a href="	">我的收藏</a></div>
	<div class="item"><a href="javascript:void(0)">资料编辑</a></div>
	<div class="right menu">
		<div class="item"><a href="	">进入首页</a></div>
		<div class="item"><a href="	">退出登陆</a></div>
	</div>
</div>
</div>

<style>
#sidebarBtn{
/*display:none;*/
}
@media (max-width:749px){
.hide-below-tablet{
	display: none!important;
}

}
</style>
<script>

</script>
