<include file='Public/Header' />
<include file='Public/Navbar' keywords='keywords' searchapi='Gdb/Novel/Search' />
<div class="ui container">
	<table class="ui celled table">
		<thead>
			<tr>
				<th>分类</th>
				<th>标题<a href="/novels/lucky" class="ui button small" style="float: right!important">随便看看</a></th>
				<th>作者</th>
				<th>发布日期</th>
				<th>查看</th>
				<th>回复</th>
				<th>原文</th>
			</tr>
		</thead>
		<tbody>
			<volist name="novelList" id="novel">
			<tr>
				<td>
					<a href="/novel/tag/{$novel['category']}">{$novel.category}</a>
				</td>
				<td>
					<if condition="session('?user')">
						<a  class="ui button mini red delete" data-tid="{$novel.threadid}">删除</a>
					</if>
					<a href="/novel/{$novel['threadid']}">{$novel.title}</a>
				</td>
				<td><a href="/novels/author/{$novel['authorid']}">{$novel.authorname}</a></td>
				<td>{$novel.createdate}</td>
				<td>{$novel.view}</td>
				<td>{$novel.reply}</td>
				<td><a href="{$novel.url}">{$novel.threadid}</a></td>
			</tr>
			</volist>
		</tbody>
		<tfoot>
			
		</tfoot>
	</table>
	<div class="ui center aligned grid">
		<div class="column sixteen wide ">
			{$pageCode}
		</div>
	</div>
</div>
<script>
	$('.delete').on('click',function(){
		$.post('/index.php?m=gdb&c=novel&a=api',{'action':'delete',tid:$(this).data('tid')},function(err,res,body){
			if(res.code==200){
				alert(res.message);
			}else{
				alert(res.message);
				console.log(res);
			}
		})
	})
</script>
<include file='Public/Footer' />