<include file='Public/Header' />
<include file='Public/Navbar' keywords='keywords' searchapi='Gdb/Novel/Search' />
<div class="ui container">
	<table class="ui celled table">
		<thead>
			<tr>
				<th>分类</th>
				<th>标题</th>
				<th>作者</th>
				<th>发布日期</th>
				<th>查看</th>
				<th>回复</th>
				<th>原文</th>
			</tr>
		</thead>
		<tbody>
			<volist name="novelList" id="novel">
			<tr>
				<td><a href="{:U('Search',array('keywords'=>$novel['category'],'type'=>'category'))}">{$novel.category}</a></td>
				<td><a href="novel/{$novel['threadid']}">{$novel.title}</a></td>
				<td><a href="{:U('Search',array('authorId'=>$novel['authorid'],'type'=>'author'))}">{$novel.authorname}</a></td>
				<td>{$novel.createdate}</td>
				<td>{$novel.view}</td>
				<td>{$novel.reply}</td>
				<td><a href="{$novel.url}">{$novel.threadid}</a></td>
			</tr>
			</volist>
		</tbody>
		<tfoot>
			
		</tfoot>
	</table>
	<div class="ui center aligned grid">
		<div class="column sixteen wide ">
			{$pageCode}
		</div>
	</div>
</div>
<include file='Public/Footer' />