<include file='Public/Header' />
<include file='Public/Navbar' keywords='keywords' searchapi='Gdb/Novel/Search' />
<div class="ui container">
<div class="segment">
	<h4 class="ui header">{$threadInfo.title}</h4>
	<div class="meta"><a id="addFav" data-tid='{$threadInfo.threadid}'>加入收藏</a></div>
</div>
	<volist name="novelTheads" id="thread">
		<div class="segment">
			{$thread.content}
		</div>
	</volist>
</div>
<script>
$("#addFav").on('click',function(){
	var that=$(this);
	$.post('{:U("Mark")}',{tid:that.data('tid')},function(res){
		alert(res.message)
	})
})
</script>
<include file='Public/Footer' />